<%= simple_form_for @discussion do |f| %>
  <div class="white-form">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <% if !params[:walk_id].blank? %>
      <%= f.hidden_field :walk_id, :value => params[:walk_id] %>
    <% end %>

    <div  class="">
      <%= f.input :name, label: false, :placeholder => "name", input_html: { class: 'span10' } %>
    </div>

    <div  class="">
      <%= f.input :text, label: false, input_html: { class: 'span10', :rows => 10 } %>
    </div>

    <div class="form-inline">
      <%= f.submit "Create", :class => "btn btn-success pull-right"%>
      <%= link_to "Discussions list", discussions_path, :class => "btn" %>
    </div>
  </div>
<% end %>
