<%= form_for @equipment do |f| %>
  <% if @equipment.errors.any? %>
  	<ul>
    	<% @equipment.errors.full_messages.each do |msg| %>
      	<li><%= msg %></li>
    	<% end %>
  	</ul>
	<% end %>

  <div class="create-gallery-form form-inline">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_area_field :description %>
    <%= f.submit "Create", :class => "btn btn-success pull-right" %>
  </div>
<% end %>
