<div class="white-form">
  <div>
    <img src="<%= @equipment.image.url %>" alt="<%= @equipment.name %>">
  </div>

  <div  class="form-inline">
    <%= @equipment.equipment_type_name %>
  </div>

  <div  class="form-inline">
  	<%= @equipment.name %>
  </div>

  <div class="form-inline">
  	<%= @equipment.description %>
  </div>

  <div class="form-inline">
    <%= link_to "Edit", edit_equipment_path, :class => "btn btn-success pull-right"%>
    <%= link_to "Equipment list", equipment_index_path, :class => "btn" %>
    <%= link_to "x Remove Equipment", @equipment, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %>
  </div>
</div>