<div class="components white-form-big">
	<h2><%= link_to t('.components'), "#"%></h2>
	<div class="component-buttons">
		<div class="component-button">
			<%= link_to image_tag('walk_components/Clothing-and-gear.png'), new_equipment_set_path(:walk_id => @walk.id) %>
			<p><small>Total <%= @walk.equipment_sets.count %> sets proposed</small></p>
		</div>
		<div class="component-button">
			<%= link_to image_tag('walk_components/food-and-water.png'), new_diet_path(:walk_id => @walk.id) %>
			<p><small>Total <%= @walk.diets.count %> diets proposed</small></p>
		</div>
		<div class="component-button">
			<%= link_to image_tag('walk_components/health-and-safety.png'), '#' %>
			<p><small>Total <%= @walk.equipment_sets.count %> sets proposed</small></p>
		</div>
		<div class="component-button">
			<%= link_to image_tag('walk_components/faq.png'), '#' %>
			<p><small>Total <%= @walk.equipment_sets.count %> sets proposed</small></p>
		</div>
	</div>
</div>