<%= form_for @gallery do |f| %>
  <% if @gallery.errors.any? %>
  	<ul>
    	<% @gallery.errors.full_messages.each do |msg| %>
      	<li><%= msg %></li>
    	<% end %>
  	</ul>
	<% end %>

  <div class="create-gallery-form form-inline">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Create", :class => "btn btn-success pull-right" %>
  </div>
<% end %>

<!--%= sketchily_tag :sketch %-->
