<div class="gallery-header">
  <div class="title row">
    <div class="span2">
      <%= link_to "<- Galleries", galleries_index_path, :class => "btn pull-left" %>
    <!--%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %-->
    </div>
    <div class="span6 gallery-font"><%= @gallery.name %></div>
    <div class="span2"><%= link_to "x Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %></div>
    <div class="span2 pull-right"><%= link_to "Add a Painting", new_painting_path(:gallery_id => @gallery), :class => "btn btn-success pull-right" %></div>
  </div>
</div>

<div id="paintings">
  <!--% for painting in @gallery.paintings %-->
    <!--div class="painting"-->
      <!--%= image_tag painting.image_url(:thumb) if painting.image? %-->
      <!--div class="name"--><!--%= painting.name %--><!--/div-->
      <!--div class="actions"-->
        <!--%= link_to "edit", edit_painting_path(painting) %-->
        <!--%= link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete %-->
      <!--/div-->
    <!--/div-->
  <!--% end %-->
  <%= render :partial => "photobox", :locals => {:gallery => @gallery} %>
  <div class="clear"></div>
</div>

<script>
    // applying photobox on a `gallery` element which has lots of thumbnails links. Passing options object as well:
    //-----------------------------------------------
    $('#gallery').photobox('a',{ time:0 });

    // using a callback and a fancier selector
    //----------------------------------------------
    $('#gallery').photobox(('li > a.family',{ time:0 }), callback);
    function callback(){
       console.log('image has been loaded');
    }

    // destroy the plugin on a certain gallery:
    //-----------------------------------------------

    // re-initialize the photbox DOM (does what Document ready does)
    //-----------------------------------------------
    $('#gallery').photobox('prepareDOM');
</script>
