<%= simple_form_for @diet do |f| %>
  <div class="white-form-big">
  	
  	<%= f.hidden_field :user_id, :value => current_user.id %>
  	<%= f.hidden_field :walk_id, :value => params[:walk_id] %>

    <div  class="">
      <%= f.input :name, label: false, :placeholder => "name", input_html: { class: 'span10' } %>
    </div>
    <hr>

    <div id="dietListContainer">
      <ul id="dietExpList">
        <%= f.fields_for :days do |builder| %>
          <%= render 'day_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "Add Day", f, :days %>
      </ul>
    </div>

    <div>
      <a data-dismiss="modal" data-toggle="modal" data-target="#addProductModal">Add Product</a>
    </div>

    <div class="form-inline">
      <%= f.submit "Create", :class => "btn btn-success pull-right"%>
      <%= link_to "diets list", diets_path, :class => "btn" %>
    </div>

  </div>

<% end %>

<%= render :partial => "add_product_modal" %>