<li>
	<fieldset class="products_set">
	  <span class="product_weight setValue"></span>
	  <%= f.hidden_field :product_id, :class => "product_id_field", :style => "width:10px" %>
	  <div class="choose_products_list form">
	  	<div class="pcol_small">
	  		<%= f.hidden_field :_destroy %>
	  		<%= link_to '#', class: "remove_fields" do %>
	  			<i class="icon-remove"></i>
	  		<% end %>
	  	</div>
	  	<div class="pname pcol_big">
	  		<%= f.object.product.name if f.object.product != nil %>
	  	</div>
	  	<div class="pkcals pcol_medium">
	  		<%= f.object.product.kcals if f.object.product != nil %>
	  	</div>
	  	<div class="pproteins pcol_medium">
	  		<%= f.object.product.proteins if f.object.product != nil %>
	  	</div>
	  	<div class="pfats pcol_medium">
	  		<%= f.object.product.fats if f.object.product != nil %>
	  	</div>
	  	<div class="pcarbohydrates pcol_medium">
	  		<%= f.object.product.carbohydrates if f.object.product != nil %>
	  	</div>
	  	<div class="pweight pcol_medium">
	  		<%= f.text_field :product_weight, :class => "product_weight_field" %>
	  	</div>
	  </div>
	</fieldset>
</li>