<li>
	<ul>
		<fieldset>
			<%= f.hidden_field :_destroy %>
			<%= link_to '#', class: "remove_fields" do %>
		  	<i class="icon-remove"></i>
		  <% end %>
		  <%= f.select :meal_type, options_for_select(MealType::OPTIONS, :selected => f.object.meal_type), {}, :class => 'select_meal_type' %>
		  <br/>
		  <%= f.fields_for :meal_products do |builder| %>
		    <%= render 'meal_product_fields', f: builder %>
		  <% end %>
			<!--a data-dismiss="modal" data-toggle="modal" data-target="#addProductModal" class="openAddProduct">Add Product</a-->
			<!--%= link_to_add_fields "Add product meal", f, :meal_products %-->
			<span class="new_product_field"><%= link_to_add_fields "Add product", f, :meal_products %></span>
			<!--%= link_to I18n.t('add_product'), '#', class: "btn addProductModalOpen" %-->
			<%= link_to I18n.t('add_product'), diets_get_products_path, :remote => true, class: "btn addProductModalOpen" %>
		</fieldset>
	</ul>
</li>