<div class="diet dietListContainer">
	<h2><p><%= @diet.name %></p></h2>
	<small><%= @diet.walk.name if @diet.walk %> <%= @diet.user.email %></small>

	<div class="diet_actions">
		<%= link_to edit_diet_path(@diet) do %>
			<%= image_tag("walk_components/edit_diet.png", :title => I18n.t('diet.actions.edit')) %>
		<% end %>
		<%= link_to @diet, :confirm => 'Are you sure?', :method => :delete do %>
			<%= image_tag("walk_components/remove_diet.png",:title => I18n.t('diet.actions.remove')) %>
		<% end %>
	</div>

  <div class="choose_products_list header">
    <div class="pcol_big">Наименование</div>
    <div class="pcol_medium">ККал.</div>
    <div class="pcol_medium">Белки</div>
    <div class="pcol_medium">Жиры</div>
    <div class="pcol_medium">Углеводы</div>
    <div class="pcol_medium">Вес/Грамм</div>
  </div>

	<ul id="dietExpList" class="expandable">
	<% @diet.days.each do |day| %>
		<li>
		<%= day.name %><br/>
			<ul>
				<% day.meal_types.each do |meal_type| %>
					<li>
						<%= I18n.t("#{meal_type.meal_type}") %>
						<ul>
							<% meal_type.meal_products.each do |meal_product| %>
								<% product = Product.find(meal_product.product_id) %>
								<% weight = meal_product.product_weight %>
								<li>
									<div class="choose_products_list show">
								  	<div class="pcol_big">
								  		<%= product.name %>
								  	</div>
								  	<div class="pcol_medium">
								  		<%= product.kcals.to_i*weight/100.0 %>
								  	</div>
								  	<div class="pcol_medium">
								  		<%= product.proteins.to_i*weight/100.0 %>
								  	</div>
								  	<div class="pcol_medium">
								  		<%= product.fats.to_i*weight/100.0 %>
								  	</div>
								  	<div class="pcol_medium">
								  		<%= product.carbohydrates.to_i*weight/100.0 %>
								  	</div>
								  	<div class="pcol_medium">
								  		<%= weight %>
								  	</div>
							  	</div>
								</li>
							<% end %>
						</ul>
					</li>
				<% end %>
			</ul>
		</li>
	<% end %>
	</ul>
</div>